upstream backend {
    server {{ ip_addr_apache1 }}:{{ http_port }} weight=1;
    server {{ ip_addr_apache2 }}:{{ http_port }} weight=2;
}
    
server {
    listen {{ http_port }} ssl;
    server_name         www.example.com;
    ssl_certificate     {{ path_to_cert }}/{{ cert_name }};
    ssl_certificate_key {{ path_to_key }}/{{ key_name }};
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    location / {
        proxy_pass https://backend;
    }
}

