<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ DB_replication }}');

/** MySQL database username */
define('DB_USER', '{{ wordpress_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ wordpress_pass }}');

/** MySQL hostname */
define('DB_HOST', '{{ master_ip }}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'Mf;?nxuwpH-IBLjW-82Y82$Zov`n,0Xf%,28.O+_c5.)rm@3Kf^]P@O+}|3/wB>V');
define('SECURE_AUTH_KEY',  '8C~K{TSu[EYi0tS}^t([~)!~0lr48CR+_oA<f7kgoJLK.qf1~waEUBpfCO6~lt0t');
define('LOGGED_IN_KEY',    'c[,.6n[F:%yd^g~&C%D7?E-&23 -:s-Z%5cCDV.]lTEm{5Rj;m.[y.~y ahfAbPt');
define('NONCE_KEY',        '{c/T/:9nR`Lgtbvqh+4&X1aU#s)W$p  RMT(O_J>}E+:,hu~X6,.|L8W=9:{;z5e');
define('AUTH_SALT',        'fA<jKVK_v3g-lmhp_8Z}0uWi;+uFz+wC1%_*<*VLG9k_+]OM{;6=3Uf+*kUKwg2S');
define('SECURE_AUTH_SALT', '[^&0j~q{_/>(B5Fkz/~>NF3<|w;YVIo6$vH[N;:?]{G)E Y/cNwRbJ_fZttn:g?-');
define('LOGGED_IN_SALT',   ' 4+p#!pjF2lcM~|:vC&pc-p(-O+&dWMQF^Tv]6!m+bR-;.*[kl5~*m^J+XaxN-] ');
define('NONCE_SALT',       'SZU.u>40=P5+2jiWxyW +LVFVA;=?.]g5Kp%SL|1#c-CY(8_d}@w D<RF0}7b%.F');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
        define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');

define('FS_METHOD', 'direct');
